*.cmds
*.fa
*.fai
*.fasta
*.gff3
*.gtf
*.log
*_interproscan/
.snakemake/
Pfam-A.hmm*
assets/dynamic/
blastp.outfmt6
checkpoints/
data/annotation.gtf
data/genome.fa
data/genome.fa.fai
data/longest.gff3
data/parsed.gff3
logs
logs/
logs/longestisoforms.log
logs/parsegtf.log
orthofinder
pfam.domtblout
pipeliner*
predicted.pep.*
predicted.pep_*
predicted_*
rbh_*
temp/
test
test.txt
tests/
tmp/
transcripts.fna
transcripts.fna.transdecoder*
transcripts.fna.transdecoder_dir*
transdecoder/
uniprot_sprot.fasta*